<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haiwaibang.server.dao.multi.ComplexObjectWithImageMapper" >
  <resultMap id="countryList" type="com.haiwaibang.model.po.multi.ComplexCountryWithImage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="name_zh" property="nameZh" jdbcType="VARCHAR" />
    <result column="continent_id" property="continentId" jdbcType="INTEGER" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="complexCountry">
        select c.id,  c.name, c.name_zh, c.continent_id, detail, max(i.url) as url
    from country c left join country_image_source s
      on c.id = s.country_id and s.show_type = 1
      left join image i on s.image_id = i.id
   </sql>
  
  <select id="listComplexCountryWithImage" resultMap="countryList">
    <include refid="complexCountry" />
    group by c.id
  </select>

  <select id="getComplexCountryWithImageByCountryId" resultMap="countryList">
    <include refid="complexCountry" />
    where c.id = #{countryId}
    group by c.id
  </select>


  <sql id="complexProject">
        select p.id,  p.name, p.name_zh, p.country_id, detail, max(i.url) as url
    from project p left join project_image_source s
    on p.id = s.project_id and s.show_type = 1
    left join image i on s.image_id = i.id
  </sql>

  <resultMap id="projectList" type="com.haiwaibang.model.po.multi.ComplexProjectWithImage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="name_zh" property="nameZh" jdbcType="VARCHAR" />
    <result column="country_id" property="countryId" jdbcType="INTEGER" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <select id="listComplexProjectWithImage" resultMap="projectList">
    <include refid="complexProject" />
     where p.country_id = #{countryId}
    group by p.id
  </select>

  <select id="getComplexProjectWithImageByProjectId" resultMap="projectList">
    <include refid="complexProject" />
    where p.id = #{projectId}
    group by p.id
  </select>
</mapper>